@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}

/*footer styles*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 200px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffa500;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #222;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        padding: 10px;
    }
}
